.RatingApp{
  display: flex;
  align-items: center;
  background: #F9F6F3;
  border-radius: 6px;
  padding: 0px 16px;
  height: 40px;
  .text{
    margin-right: 15px;
    color: #676664;
    font-weight: 400;
    font-size: 14px;
  }
  .rating{
    margin-top: 4px;
    svg{
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  @media only screen and (max-width: 1133px) {
    /* For mobile phones: */
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}